@charset "UTF-8";

.module {
    margin: 0;
    background-color: #fff;
    overflow: hidden
}

.book-sort {
    position: relative;
    display: block;
    overflow: hidden;
    padding: .75rem 0;
    height: 3.25rem
}

.book-pic {
    font-size: 0;
    float: left;
    width: 2.4375rem;
    height: 3.25rem;
    margin-right: .75rem;
    margin-left: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

.book-title {
    font-size: 14px;
    line-height: 1.1;
    margin-top: .5rem
}

.book-tags {
    font-size: .75rem;
    margin: .48rem 0;
    line-height: .75rem
}

.book-li-msg {
    float: left;
    width: 50%;
    overflow: hidden
}

.book-back {
    overflow: hidden;

}

.boy::before {
    border-left: 2px solid #3988ff
}

.book-cell {
    overflow: hidden;
    display: inline-block
}

.booklist-li-msg {
    float: left;
    width: 50%;
    overflow: hidden
}

.booklist-module {
    border-top: .5rem solid transparent
}

.booklist-ol {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: .5rem
}

.booklist1 {
    background: #e8ffe6;
    margin-right: .5rem;
    margin-bottom: .5rem
}

.booklist2 {
    background: #d8f8ff;
    margin-right: .5rem;
    margin-bottom: .5rem
}

.booklist3 {
    background: #e6e9ff;
    margin-right: .5rem;
    margin-bottom: .5rem
}

.booklist4 {
    background: #fffcdd;
    margin-right: .5rem
}

.booklist-sort {
    position: relative;
    display: block;
    overflow: hidden;
    height: 5rem;
    padding-top: .5rem;
    border-radius: .2rem;
    text-align: center
}

.booklist-title {
    display: inline-block;
    width: 98%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .875rem;
    color: #000;
    filter: opacity(50%)
}

.book-list-container-roundabout {
    display: block;
    position: relative;
    width: 4.125rem;
    height: 3rem;
    margin: 0 auto
}

.book-list-container-roundabout li {
    position: absolute;
    width: 2.25rem;
    top: .5rem
}

.book-list-container-roundabout li:active {
    -webkit-tap-highlight-color: transparent
}

.book-list-container-roundabout li img {
    width: 2.25rem;
    height: 3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

.book-list-container-roundabout li.book1 {
    left: 1rem;
    top: .15625rem;
    z-index: 1
}

.book-list-container-roundabout li.book1 img {
    width: 2.375rem;
    height: 3.125rem
}

.book-list-container-roundabout li.book2 {
    left: 2.4375rem
}

.book-list-container-roundabout li.book3 {
    left: -.3125rem
}